
.kotak{ 
	height:400px;
	width:230px;
	margin:auto;
	margin-left:10px;
	float:left;
	background-color:lightgreen;
	border-radius:15px;
	image-top:5px;
	padding:33px;
}


.kosong{
	height: 30px;

}
